<div class="container mt-5 p-5">
  <h1 class="text-center"><strong>Stupid Coach</strong></h1>

  <form action="/answer" data-turbo="false" class="mt-5 p-5">
    <input type="text" name="ask" class="form-control" class="mt-5">
    <input type="submit" value="Ask!" class="btn btn-primary btn-lg mt-5 mx-auto">
  </form>
</div>
